body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.Home {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://engineering.nyu.edu/sites/default/files/styles/content_header_default_1x/public/2018-03/program-comp-eng.jpg?h=e1d1bc8a&itok=qQgytUSZ);
  background-repeat: no-repeat;
  background-size: cover;
  height: 625px;
  width: 1349px;
  background-attachment: fixed;
  background-position: center;
}

.Home h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial;
  font-size: 50px;
  color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.AboutMe{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://repository-images.githubusercontent.com/134285701/635de980-586d-11ea-9220-1a3211239c30);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 30px;
  height: 625px;
}

.AboutMe h1{
  margin: 0;
  padding: 0;
  color: white;
  position: relative;
  top: 50px;
}

.AboutMe p{
  margin: 0;
  padding: 0;
  color: White;
  position: relative;
  top: 100px;
}

.Experience{
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: white;
  height: 625px;
}

.Experience h1{
  margin: 0;
  padding: 50px;
  font-size: 50px;
}

.Description {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 50%;
  height: 50%;
  float: left;
}

.img {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 50%;
  height: 50%;
  float: right;
}

.volunteer {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 40%;
  height: 50%;
}

.Experience .volunteer h2{
  padding: 0;
  font-size: 50px;
  width: 100%;
}
