body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.Home {
  margin: 0;
  padding: 0;
  background: url("images/backgroundimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 625px;
  width: 1349px;
  background-attachment: fixed;
  background-position: center;
}

.Home h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial;
  font-size: 50px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.AboutMe{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://media.slidesgo.com/storage/654274/introducing-myself1606309345.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 30px;
  height: 625px;
}

.AboutMe h1{
  margin: 0;
  padding: 0;
  color: white;
  position: relative;
  top: 50px;
}

.AboutMe p{
  margin: 0;
  padding: 0;
  color: White;
  position: relative;
  top: 100px;
}

.Experience {
  background-color: white;
}

.Education {
  background-image: url("images/brooklyncollege.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}

.Skills {
  background-image: url("images/skills.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
